header{
    position: fixed;
    top: 0px;
    padding-top: 10px;
    background-color: #202122;
    width: 100%;
}

.header-parent{
    display: flex;
    align-items: center;
    padding: 0rem;
    height: 50px;

    justify-content: space-between;
}

.header-child-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

    margin-left: 20px;
}

.header-child-list{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

#main-footer{
    text-align: center;
}

body{
    margin-top: 95px;
    background-color: #202122;
    color: #FFFFFF;
    
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.navigation-item{
    font-family: Arial, Helvetica, sans-serif;

    display: inline;

    margin: 10px;
}

.navigation-list{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

    padding: 0;
    list-style: none;

    text-align: right;

    margin: 10px;
}

.nav-button{
    text-decoration: none;
    color: #FFFFFF;
}

.nav-button-current{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    color: #ff0000;
}

.nav-button:hover{
    text-decoration: none;
    color: #ff8b8b;
}