header{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px 0px;
    background-color: #000000;
    width: 100%;

    z-index: 999;
}

.header-parent{
    display: flex;
    align-items: center;
    padding: 0rem;
    padding-right: 10px;
    margin: 0rem;
    height: 50px;

    justify-content: space-between;
}

.Title{
    text-transform: uppercase;
}

.header-child-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

    padding-left: 20px;
    color: #FFFFFF;
}

.header-child-list{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

#main-footer{
    text-align: center;
}

body{
    margin-top: 95px;
    background-color: #ffffff;
    color: #000000;
    
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
}

.container{
    width: 80%;
    margin: auto;
}

.navigation-item{
    font-family: Arial, Helvetica, sans-serif;

    display: inline;
}

.navigation-list{
    font-family: Arial, Helvetica, sans-serif;
    
    text-transform: uppercase;

    padding: 0px;
    list-style: none;

    text-align: right;

    margin: 10px;
}

.nav-button{
    text-decoration: none;
    font-weight:lighter;
    font-size: 30px;

    color: #FFFFFF;

    padding: 10px;
}

.nav-button-current{
    text-decoration: underline;
    text-decoration-thickness: 7px;
    font-weight: bolder;
    font-size: 35px;
    color: #ffffff;

    padding: 10px;
}

.nav-button:hover{
    font-size: 35px;
}

.show-side-bar-button{
    display: none;
}

.hide-side-bar-button{
    display: none;
}

.side-bar-list{
    position: fixed;
    display: none;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    font-size: 50px;

    list-style: none;

    padding-top: 40px;
    background-color: #000000;
}

@media only screen and (max-width: 1140px) {
    .show-side-bar-button{
        display: flex;
    }

    .navigation-item{
        display: none;
    }
}